/* #region Common */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */
/* #region Header */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .footer-logo-part {
    color: #f4f4fd;
}

.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
/* #endregion */
/* #region First section */
.first-section {
    padding: 188px 0;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.first-section-order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.first-section-order-button:hover,
.first-section-order-button:focus {
    background-color: #404BBF;
    letter-spacing: 0.04em;
}

.first-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-section-header {
    max-width: 496px;
    margin-bottom: 48px;
}
/* #endregion */
/* #region Second section */
.second-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    /* Сучасний спосіб */
    clip: rect(0 0 0 0);
    /* Застарілий, але для сумісності */
    overflow: hidden;
}

.second-section-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.second-section-element {
    width: calc((100% - 72px) / 4);
}

.second-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section-paragraphs {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */
/* #region Third section */
.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-header {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-section-list {
    display: flex;
    gap: 24px;
}

.third-section-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    
}

.container-name-title {
    padding: 32px 0;
}

.third-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px
}

.third-section-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion */
/* #region Fourth section */
.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.third-section-header {
    margin-bottom: 72px;
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-section-list-item {
    width: calc((100% - 48px) / 3);
}

.container-fourth-section-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.fourth-section-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.fourth-section-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion */
/* #region Footer */
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-paragraph {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* #endregion */